.container {
    width: 75%;
    margin: auto;
}


/*Top info - image and job info*/

#top-info {
    height: 50%;
    overflow: hidden;
}

#top-info img {
    width: 60%;
    float: left;
}

#job-info {
    background-color: gray;
}

.job-info-btn {
    margin: 0px;
    padding: 2%;
    text-align: center;
    font-size: 16px;
}

.job-info-content {
    display: none;
}

.job-info-content {
    padding: 3%;
    background-color: lightgray;
}

hr {
    margin: 0px;
}

.description {
    margin: auto;
}


/*Comments*/

#at {
    display: inline-block;
    padding: 3px;
    background-color: grey;
    margin-right: -4px;
    margin-bottom: 4px;
}

.comment-handle {
    display: inline-block;
    background-color: lightgray;
    width: 200px;
    padding: 3px;
    margin-bottom: 4px;
}

.comments {
    background-color: bisque;
    padding: 10px;
}

#comments-heading {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

.input-comment-container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
}

#input-comment {
    box-sizing: border-box;
    width: calc(100% - 150px);
    height: 30px;
    border: none;
    border-bottom: 0.05px gray solid;
    background-color: bisque;
    outline: none;
    -webkit-transition: border-bottom 0.5s linear;
    transition: border-bottom 0.5s linear;
    transform-origin: center;
}

#input-comment:focus {
    border-bottom: 1.5px black solid;    
}

#input-comment-btn {}

.button {
    box-sizing: border-box;
    padding: 0px 20px;
    border: none;
    height: 30px;
    background-color: hsl(206.1, 79.3%, 52.7%);
    color: hsl(0, 0%, 100%);
    border-radius: 4%;
    -webkit-transition: background-color 0.5s ease; /* Safari */
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: rgb(31, 115, 179);    
}
