.project {
    width: 25%;
    overflow: hidden;
    background-color: #57bc90;
    margin: 20px;
    border: 3px solid #1A2930;
    padding: 20px;
    box-shadow: 5px 5px 5px #888888;
    padding-top: 0px;
}

.project-name {
    text-align: center;
}

.description {
    padding: 10px;
}