.container {
    height: 75vh;
}

.right-pane {
    margin-left: 5%;
    margin-right: 5%;
}

.profile-info {
    padding-left: 10px;
    margin-left: 30%;
}

tr td {
    vertical-align: top;
}

.reviews {
    background-color: #57bc90;
    padding-bottom: 5px;
    border-radius: 2%;
    margin-left: 30%;
    width: 75%;
}

.reviews h3 {
    padding-left: 10px;
    padding-top: 4px;
}

.reviews .review {
    padding: 5px;
    margin: 2%;
}

#review-description {
    width: 70%;
    height: 50px;
    margin-left: 5%;
}

#review-rating {
    width: 20px;
    text-align: center;
    margin-left: 3%;
}

#save-review {
    margin-left: 3%;
}

.rating {
    font-weight: bold;
    margin-right: 15px;
}

.reviewer {
    margin-left: 20px;
    font-style: italic;
}

.reviews hr {
    border: none;
    height: 1px;
    color: #015249;
    background-color: #015249;
}

.skills {
    float: left;
    background-color: #77c9d4;
    padding-left: 10px;
    width: 30%;
    margin-left: 1%;
    box-sizing: border-box;
    height: 75vh;
    border-radius: 2%;
}

#skill-input {
    vertical-align: top;
    margin-top: 3%;
    border: none;
    height: 18px;
    margin-right: 5px;
    width: 60%;
    background-color: #b3e6ed;
    outline: none;
}

#skill-input:focus {
    border-bottom: 1.5px black solid;
}

#skills-hr {
    border: none;
    background-color: black;
    height: 0.5px;
    text-align: center;
    margin-right: 9px;
}

#skills-heading {
    margin-top: 10px;
    margin-left: 10px;
}

.skills li {
    list-style: none;
}

.fab {
    background-color: #efb95a;
    width: 32%;
    height: 20px;
    text-align: center;
    font-weight: 900;
    display: inline-block;
    margin-right: 5px;
    margin-top: 3%;
    cursor: pointer;
}