/*
Color Schemes:
#C5C1C0
#0A1612
#1A2930
#F7CE3E

#77c9d4
#57bc90
#015249
#a5a5af
*/

html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

header {
    background-color: #57bc90;
    padding: 10px;
}

header .top-right-header {
    position: absolute;
    top: 10px;
    right: 10px;
}

header .top-right-header a {
    margin: 5px;
}

header h1 {
    text-align: center;
    margin-top: 0px;
}

header .nav ul {
    list-style: none;
    text-align: center;
    padding: 0px;
}

header .nav ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.user-list {
    padding: 0px;
}

#username {
    margin-bottom: 5px;
}

.user {
    list-style: none;
    background-color: #57bc90;
    margin: auto;
    margin-bottom: 5%;
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
}

.user-email {
    margin-top: 0px;
    margin-left: 3%;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    border-bottom: 1px solid grey;
}

.one-skill {
    background-color: #beffdd;
    /* background-color: #efb95a; */
    display: inline-block;
    margin-right: 2%;
    padding: 2px 10px 2px 10px;
    margin-bottom: 3px;
}