/* 
#77c9d4
#57bc90
#015249
#a5a5af 
*/

.container {
    width: 75%;
    margin: auto;
    background-color: #fff;
}

.wrapper {
    display: inline-block;
    width: 100%;
}


.project {
    overflow: hidden;
    background-color: aquamarine;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid #1A2930;
    padding: 20px;
    padding-top: 0px;
    box-sizing: border-box;
}

.project-name {
    text-align: center;
}

.description {
    padding: 10px;
    padding-top: 0px;
}

hr {
    margin: 0px;
}


/*Comments*/

#at {
    display: inline-block;
    padding: 3px;
    background-color: grey;
    margin-right: -4px;
    margin-bottom: 4px;
}

.comment-handle {
    display: inline-block;
    background-color: #a5a5af;
    width: 200px;
    padding: 3px;
    margin-bottom: 4px;
}

.comment-handle:hover {
    color: blue;
    text-decoration: underline;
}

.comments {
    background-color: bisque;
    padding: 10px;
}

#comments-heading {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

.input-comment-container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
}

#input-comment {
    box-sizing: border-box;
    width: calc(100% - 150px);
    height: 30px;
    border: none;
    border-bottom: 0.05px #a5a5af solid;
    background-color: bisque;
    outline: none;
}

#input-comment:focus {
    border-bottom: 1.5px black solid;
}

#input-comment-btn {}

.button {
    box-sizing: border-box;
    padding: 0px 20px;
    border: none;
    height: 30px;
    background-color: #57bc90;
    color: #fff;
    border-radius: 4%;
    -webkit-transition: background-color 0.5s ease;
    /* Safari */
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: #015249;
}

button,
.comment-handle {
    cursor: pointer;
}